# Jetbrains
.idea
.vscode/

# Visual Studio Code
.vscode

# Compiled files
build

# NPM
node_modules/

#add service_account_key
custom-helix-329116-bd139e227504.json

tmp_upload/

.env
./.env
./src/.env

app.secret.yaml

#ignore the DS_Store file created by Mac OS
.DS_Store

#ignore the .rds files , .h5ad, and .csv files
*.rds
*.h5ad
*.csv
